---
import Image from "../Image.astro";
import { getPermalink } from "../../utils/permalinks";
import { animationClass } from "../../utils/utils";
export interface Service {
  id: string;
  fav: boolean;
  title: string;
  description: string;
  icon?: string;
  image?: string;
  pricing: {
    price: string;
    duration: string;
  }[];
  benefits: string[];
  longDescription: string;
  recommendations?: string;
  contraindications?: string;
}

interface Props {
  massage: Service;
}

const { massage } = Astro.props;
---
<div class={"flex group flex-col h-full bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg" + animationClass}>
  <a href={getPermalink(`/masaze-kosmetika/${massage.id}`)}>
    <div class="relative h-48 overflow-hidden group">
      <Image
        src={massage.image}
        alt={massage.title}
        loading={"lazy"}
        class="w-full h-full object-cover transition-all duration-300 group-hover:scale-105"
      />
      <div class="absolute inset-0 bg-white/30 opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>

      <!-- Textured separator -->
      <div class="absolute bottom-0 left-0 right-0 h-20 bg-gradient-to-t from-white to-transparent"></div>
    </div>

    <div class="flex flex-col flex-grow p-6 pt-4">
      <h3 class="text-xl font-semibold text-text mb-2">{massage.title}</h3>
      <p class="text-muted-foreground mb-4 flex-grow">{massage.description}</p>
      <p class="text-sm font-semibold text-text">
        {massage.pricing.length > 1 && "od: "} {massage.pricing[0].price} / {massage.pricing[0].duration}
      </p>
      <a
        href={getPermalink(`/masaze-kosmetika/${massage.id}`)}
        class="inline-block mt-auto text-primary hover:text-primary/70 transition-colors mt-2 text-sm font-medium"
      >
        Více informací →
      </a>
    </div>
  </a>
</div>